# creating lists

other than 3 data type all the data types in python immutable

In [1]:
a = [1, 2, 3, 4]
print(a)

[1, 2, 3, 4]

In [2]:
a = [1, 2, 3, 4, 5]
for x in a:
  print(x)

1
2
3
4
5

In [3]:
"z" in "kong"

False

In [4]:
a = [1, 2, 3, 4, 5]
a[-1]

5

In [5]:
a = [1, 2, 3]
a.insert(1, 100)

In [6]:
a = [1, 2, 3, 4]
a.pop()

4

In [7]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [8]:
b = [1, 2, 3, 4, 5]
reversed()
b

TypeError: reversed expected 1 argument, got 0

In [9]:
b = [1, 2, 3, 4, 5]
for x in reversed(b):
  print(x)

5
4
3
2
1

In [10]:
#map,strip and split function
a = [1, 2, 3, 4]
[1, 4, 9, 16]
for x in map(lambda x: x**2, a):
  print(x)

1
4
9
16

In [11]:
a = [1, 2, 3, 4]
[1, 4, 9, 16]
for i, x in enumerate(a):
for x in map(lambda x: x**2, a):
  print(x)

IndentationError: expected an indented block after 'for' statement on line 3 (40852343.py, line 4)